@media screen and (max-width: 576px) {

  h1 {
    font-size: 20px;
  }

  div {
    .ch-banner-lighter {
      font-size: 13px;

    }
  }

  .ch-banner-paragraph {
    font-size: 0.32rem;
    line-height: 0.40rem;

  }


}


@media screen and (max-width:768px) {

  .ch-banner-paragraph {
    font-size: 0.32rem;
    line-height: .40rem;

  }


}

